@import "vars"


/*==========  Desktop First  ==========*/


//Extra large: ≥1200px
+media-breakpoint-down(xl)

//Large: ≥992px
+media-breakpoint-down(lg)


//Medium: ≥768px
+media-breakpoint-down(md)
	html
		font-size: 14px
	.container
		width: 700px
	.widgets-social-container
		width: 700px
	.product-preview-section
		.product-preview-imgs__item
			.onSale-label
				position: absolute
				top: 0
				left: 65%
				@include pxToRem(13)
				text-transform: uppercase
			.outStock-label
				position: absolute
				top: 0
				left: 65%
				@include pxToRem(13)
				text-transform: uppercase
				text-align: center	
			.product-preview-imgs__title
				padding: 11px 0 11px 50px			
				.product-icons
					ul 
						padding-left: 7px
						li 
							width: 28px
							height: 20px


//Small: ≥576px
+media-breakpoint-down(sm)
	html
		font-size: 14px
	.container
		width: 320px
	.widgets-social-container
		width: 320px
	.main-header
		.main-header__login
			a
				font-size: 13px
			span
				font-size: 13px

	.main-nav
		position: relative
		.hamburger
			outline: none
		.main-nav-links
			display: none
			position: absolute
			width: 280px
			background-color: #fff
			margin: 0 auto
			z-index: 10
			top: 60px
			margin-left: 30px
			padding: 0
			li
				display: block
				height: auto
				border: none
				border-bottom: 1px solid #eeeeee
				padding: 5px 10px
				&:nth-child(6)
					border: none
		.search-on-small-screen
			span
				font-size: 19px

			.main-header__search
				position: absolute
				width: 280px
				height: 45px
				background-color: #fff
				z-index: 10
				top: 60px
				padding: 0
				margin-left: 45px
				.fa
					position: absolute
					right: 10% 
					top: 30%
				#searchfield_for-small-device
					padding-left: 25px
					width: 280px
					height: 45px
					border: none
				.easy-autocomplete-container ul li.selected
					background-color: $accent
					color: #fff

				.easy-autocomplete-container
					width: 280px
					z-index: 2
					margin: 0
					font-family: 'AllerLight', serif
					ul
						background-color: #fff
						list-style-type: none	
						border-top: 2px solid #eeeeee
						li
							@include pxToRem(16)
							text-transform: uppercase
							letter-spacing: 2px
							width: 100%
							padding: 0.625rem 1.25rem 0.3125rem 1.8rem
							border-bottom: 2px solid #eeeeee
							transition: all 0.2s ease
							&:nth-child(2)
								border-bottom: none
								padding-bottom: 8px

		.main-nav-cart
			li
				height: 60px
				border-left: none
				padding: 0 1.0rem
				@include pxToRem(16)
				letter-spacing: 0.25px
				i
					font-size: 19px
					margin-right: 3px
				a
					font-size: 13px
				&:nth-child(2)
					border-right: 1px solid #eeeeee
					border-left: 1px solid #eeeeee	

	.main-slider-content
		margin: 0 auto
		padding: 0 40px
	.carousel-nav-conteiner
		height: 75px
		.carusel-lines-conteiner
			width: 300px
		.carousel-navigation
			.nav-item
				display: inline-block
				max-width: 190px
				text-align: center
				color: #adadad
				transition: color 0.2s ease
				h5
					@include pxToRem(16)
				p
					@include pxToRem(10)
				.line-item
					width: 90px
					margin: 0 3px 10px 3px

	.product-preview-section
		.product-preview-imgs__item
			.onSale-label
				left: 74%
			.outStock-label
				left: 74%
			.product-preview-imgs__title
				padding: 10px 0 10px 10px			
				.product-icons
					ul 
						padding-left: 35px
						li 
							width: 40px
							height: 20px

	.product-preview-section
		.product-preview-header
			.product-preview-header__title
				h5
					@include pxToRem(20) 	
	.information-holder
		.information-holder__small-item, .information-holder__big-item
			.information-holder__small-item--wrapper,.information-holder__big-item--wrapper
				padding-bottom: 10px
				text-align: center
				h6
					text-align: center
					@include pxToRem(16) 
				p
					@include pxToRem(13)
				.blog-news__information
					text-align: left
					h6
						text-align: left
			.information-holder__big-item--wrapper
				padding-bottom: 30px
	.widgets-section
		.widgets-social-container
			.widgets__item
				h6
					text-align: center
					@include pxToRem(18)
				p
					@include pxToRem(14)
					text-align: center

	.social-section
		.widgets-social-container
			.social-icons-holder
				@include prefix(display,flex)
				justify-content: center
			.email-news-holder
				@include prefix(display,flex)
				justify-content: center

	footer
		.footer-wrapper
			padding: 30px 0
			color: #666666
			.copyright-holder
				@include prefix(display, flex)
				justify-content: center
				text-align: center
				@include pxToRem(12)
			.footer-menu-holder
				@include prefix(display, flex)
				justify-content: center
				align-items: center

	.selectize-control.single
		@include prefix(display, flex)
		justify-content: center
		align-items: center

	.product-preview-section
		.product-preview-header
			@include prefix(display, flex)
			flex-direction: column
			.product-preview-header__title
				margin-bottom: 20px

	.product-preview-imgs__item--content
		text-align: center
		padding: 0 10px

//Extra small: >0
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

//Extra small: <576px
+media-breakpoint-up(xs)

//Small: ≤576px
+media-breakpoint-up(sm)

//Medium: ≤768px
+media-breakpoint-up(md)

//Large: ≤992px
+media-breakpoint-up(lg)

//Extra large: ≤1200px
+media-breakpoint-up(xl)
