@import "vars"
@import "fonts"
@import "libs"
@import "_mixins/vendor-prefixes"
@import "_mixins/font-size"



// Css Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline



// Genneral Styling

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	background-color: #ebe7df
	input, textarea
			border: #666 1px solid
			outline: none
			&:focus:required:invalid
				border-color: red
			&:required:valid
				border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto

.price-label
	@include prefix(display, inline-flex)
	align-items: center
	justify-content: center
	width: 65px
	height: 65px
	background-color: $accent
	@include pxToRem(12)
	letter-spacing: 1px
	color:#fff

.onSale-label
	@extend .price-label
	background-color: #242424

.outStock-label
	@extend .price-label
	background-color: #f27e4b

.text-center
	text-align: center

.container
	max-width: 940px
	margin: 0 auto
	padding: 0

//Active class for slider navigation
.active
	color:#fff !important
	.line-item
		background-color: $accent

.main-nav--active
	a
		color: $accent !important

.product-icons__active
	color: $accent !important

.hidden
	display: none




//Header and Main Nav

.main-header
	max-height: 45px
	background-color: #242424
	width: 100%
	align-items: center
	.main-header__logo-holder
		@include prefix(display, flex) 
		a 
			text-decoration: none
			color: $accent
			@include pxToRem(26)
			text-transform: uppercase
			font-family: 'OpenSansLight', sans-serif
			letter-spacing: 1px
	.main-header__search
		@include prefix(display, inline-flex)
		align-items: center
		height: 45px
		border-left: 2px solid #383838
		padding: 0
		color: #b1aeae
		font-family: 'MyriadProRegular', sans-serif
		@include pxToRem(14)
		input
			@include pxToRem(13)
			width: 100%
			height: 100%
			color: #b1aeae
			background-color: #242424
			border: none
			padding: 0 1.25rem
			margin-left: 2px
		.fa
			position: absolute
			right: 12%
			top: 40%  		
	.main-header__login
		height: 45px
		border-right: 2px solid #383838
		border-left: 2px solid #383838
		@include prefix(display, flex)
		align-items: center
		justify-content: center
		color: #6c6c6c
		span
			@include pxToRem(11)
			margin: 0 0.3125rem
		a 
			outline: none
			text-transform: uppercase
			color: #6c6c6c
			@include pxToRem(11)
			text-decoration: none
			transition: color 0.2s ease
			&:hover
			  color: $accent

.easy-autocomplete-container ul li.selected
	background-color: lighten(#242424,10%)
	color: #fff

.easy-autocomplete-container
  min-width: 100%
  z-index: 2
  margin-top: 12px
  font-family: AllerLight, sans-serif
  ul
  	background-color: #4c4c4c
  	list-style-type: none	
  	border: none
	  li
	  	@include pxToRem(12)
	  	text-transform: uppercase
	  	letter-spacing: 2px
	  	width: 100%
	  	padding: 0.625rem 1.25rem 0.3125rem 1.25rem
	  	border-bottom: 1px solid #666464
	  	transition: all 0.2s ease
	  	&:nth-child(3)
	  		border-bottom: none
	  	

// Login and Register forms

.login-form
	width: 350px
	margin: 0 auto
	background-color: #fff
	border-radius: 6px
	font-family: "AllerLight", sans-serif 
	padding-bottom: 1.25rem
	.form-controlers
		@include prefix(display, flex)
		margin-bottom: 2.5rem
		.form-controlers__register,.form-controlers__login
			@include prefix(display, flex)
			align-items: center
			justify-content: center
			width: 175px
			height: 60px
			border-radius: 6px 0 0 0 
			a
				text-decoration: none
				color: #000
				transition: color 0.1s ease
				&:hover
					color: $accent
		.form-controlers__register
			background-color: #D2D8D8
			border-radius: 0 6px 0 0 
	.form-holder
		text-align: center
		width: 280px
		margin: 0 auto
		.forgot-password
			margin-top: 1.25rem
			@include pxToRem(14)
			a
				text-decoration: underline
				color: #000
				transition: color 0.1s ease
				&:hover
					text-decoration: none
					color: $accent
		.inform-input
			@include prefix(display, flex)
			flex-direction: column
			align-items: center
			position: relative
			input
				width: 105%
				margin: 0 10px 25px 10px
				height: 40px
				border: 1px solid rgba(gray, 0.6)
				border-radius: 3px
				padding-left: 35px
			span
				position: absolute
				left: 0
				top: 10px
				color: rgba(gray, 0.8)
				&:nth-child(3)
					top: 75px
				&:nth-child(5)
					top: 140px

		.form-cheakbox
			text-align: left
		input[type=submit]
			width: 100%
			@include pxToRem(30,margin-top)
			display: inline-block
			border: none
			color: #fff
			background-color: $accent
			padding: 0.75rem 2.8125rem
			@include pxToRem(17)
			font-weight: 600
			letter-spacing: 1px
			border-radius: 2px
			text-align: center
			position: relative
			outline: none
			transition: background-color .3s ease
			&:hover
				background-color: darken($accent,10%)
			&:active
				background-color: lighten($accent,3%)
.register-form
	@extend .login-form
	.form-controlers
		.form-controlers__login
			background-color: #D2D8D8
		.form-controlers__register
			background-color: #fff
	.form-cheakbox
		a 
			text-decoration: underline
			color: $accent
	input[type=submit]
		margin-bottom: 10px

// Main navigation

.main-nav
	height: 60px
	width: 100%
	background-color: #fff
	.search-on-small-screen
		display: flex
		justify-content: center
		align-items: center
		color: #9b9b9b
		border-right: 1px solid #eeeeee
	.collapse-button
		border-left: 1px solid #eeeeee
		border-right: 1px solid #eeeeee
		@include prefix(display,flex)
		justify-content: center
		align-items: center
	.hamburger-box
		@include prefix(display,flex)
		justify-content: center
		align-items: center
		.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
			height: 3px
			width: 30px
			padding: 0 0
			background-color: #9b9b9b
	.main-nav-links
		padding: 0
		li,ul
			list-style-type: none
		li
			@include prefix(display, inline-flex)
			flex-direction: column
			justify-content: center
			height: 60px
			border-left: 1px solid #eeeeee
			&:nth-child(6)
				border-right: 1px solid #eeeeee
			a
				color: #242424
				text-decoration: none
				padding: 0 1rem
				@include pxToRem(16)
				letter-spacing: 0.25px
				transition: color 0.1s ease
				&:hover
					color: $accent
	.main-nav-cart
		@include prefix(display, flex)
		justify-content: flex-end
		padding: 0
		li,ul
			list-style-type: none
		li
			@include prefix(display, inline-flex)
			align-items: center
			height: 60px
			border-left: 1px solid #eeeeee
			color: #242424
			padding: 0 1.25rem
			@include pxToRem(16)
			letter-spacing: 0.25px
			&:nth-child(2)
				border-right: 1px solid #eeeeee			
			a
				display: inline-block
				text-align: center
				height: 20px
				width: 20px
				border-radius: 4px
				@include pxToRem(12)
				letter-spacing: 1px
				background-color: #adadad
				font-family: 'AllerBold', sans-serif
				color: #fff
				@include pxToRem(12)
				margin-left: 7px !important
				text-decoration: none
				transition: background-color 0.3s ease
				&:hover
					background-color: $accent


//Slider section

.main-slider__item
	width: 100%
	max-height: 460px
	background-size: cover
	background-repeat: no-repeat

.main-slider-content
	text-align: left
	z-index: 2
	color: #fff
	max-width: 390px
	height: 460px
	@include prefix(display, flex)
	flex-direction: column
	justify-content: center
	.item-information
		font-family: 'AllerLight', sans-serif
		color: #000
		margin: 18px 0
		h3
			@include pxToRem(40)
			line-height: 42px
			margin-bottom: 15px
		p
			@include pxToRem(19)
			line-height: 27px
	.product-icons
		ul,li 
			list-style-type: none
		li 
			@include prefix(display, inline-flex)
			justify-content: center
			align-items: center
			width: 40px
			height: 40px
			line-height: 40px
			background-color: #fff
			margin-right: 1px
			a 	
				text-decoration: none
				color: #7b7b7b
				@include pxToRem(17)
				transition: color 0.1s ease
				&:hover
					color: $accent

.carousel-nav-conteiner
	position: relative
	height: 90px
	width: 100%
	@include prefix(display, flex)
	justify-content: center
	background-color: #2e2e2e
	.carusel-lines-conteiner
		z-index: 0
		@include prefix(display, flex)
		align-items: center
		justify-content: center
		margin-top: 8px
		position: absolute
		width: 36.25rem
		height: 12px
		background-color: #000
	.carousel-navigation
		@include prefix(display, flex)
		align-items: flex-start
		cursor: pointer
		margin-top: 11px
		z-index: 1
		.nav-item
			display: inline-block
			max-width: 190px
			text-align: center
			color: #adadad
			transition: color 0.2s ease
			h5
				@include pxToRem(18)
			p
				@include pxToRem(12)
			&:hover
				color: #fff
				.line-item
					background-color: $accent
			.line-item
				width: 11.25rem
				height: 6px
				transition: background-color 0.2s ease
				margin: 0 5px 10px 5px



//Specials section

.spetials-holder
	padding: 20px 0
	width: 100%
	background-color: #242424
	@include prefix(display, flex)
	align-items: center
	.spetials-item
		@include prefix(display, flex)
		justify-content: center
		align-items: center
		height: 180px
		background-clip: content-box
		background-repeat: no-repeat
		&:nth-child(1)
			background-image: url(../img/specials__1.png)
		&:nth-child(2)
			background-image: url(../img/specials__2.png)
		&:nth-child(3)
			background-image: url(../img/specials__3.png)
		.spetials-item__content
			z-index: 1
			text-align: center
			color: #fff
			padding: 0.625rem 1.875rem
			background-color: rgba(#353636,0.9)
			font-family: "AllerLight", sans-serif
			@include pxToRem(25)
			white-space: nowrap
			transition: color 0.2s ease
			cursor: pointer
			&:hover
				color: $accent 

//Section Products Preview
.product-preview-section
	margin: 40px 0
	.product-preview-header
		width: 100%
		@include prefix(display, flex)
		justify-content: space-between
		align-items: center
		margin-bottom: 30px
		margin-top: 40px
		.product-preview-header__title
			h5
				font-family: "AllerLight", sans-serif
				@include pxToRem(25) 
		.product-preview-header__show-all-button
			a
				font-family: "AllerBold", sans-serif
				@include pxToRem(14) 
				color: #bcb5a7
				text-decoration: none
				padding: 0.625rem 1.25rem
				border: 1px solid #bcb5a7
				transition: background-color 0.2s ease
				&:hover
					background-color: lighten(#ebe7df, 5%)
				&:active
					background-color: darken(#ebe7df, 5%)
	.product-preview-imgs__item
		&:nth-child(1)
			background-image: url(/img/product-preview__1.png)
		&:nth-child(2)
			background-image: url(/img/product-preview__1.png)
		&:nth-child(3)
			background-image: url(/img/product-preview__1.png)
		&:nth-child(4)
			background-image: url(/img/product-preview__1.png)
		&:nth-child(5)
			background-image: url(/img/product-preview__1.png)
		&:nth-child(6)
			background-image: url(/img/product-preview__1.png)
		background-clip: content-box
		background-position: center -20px
		background-size: cover
		min-height: 270px
		@include prefix(display, flex)
		align-items: flex-end
		.price-label
			position: absolute
			left: 7%
			bottom: 0
		.onSale-label
			position: absolute
			top: 0
			left: 73%
			@include pxToRem(13)
			text-transform: uppercase
		.outStock-label
			position: absolute
			top: 0
			left: 73%
			@include pxToRem(13)
			text-transform: uppercase
			text-align: center
		.product-preview-imgs__title
			@include prefix(display, flex)
			justify-content: center
			padding: 11px 0
			width: 100%
			background-color: #fff
			border-top: 1px solid #cccccc
			@include pxToRem(18) 	
			cursor: pointer
			.product-icons
				ul 
					list-style-type: none
					padding-left: 50px
				li 
					@include prefix(display, inline-flex)
					justify-content: flex-end
					align-items: center
					width: 40px
					height: 30px
					background-color: #fff
					a 	
						text-decoration: none
						color: #7b7b7b
						@include pxToRem(17)
						transition: color 0.1s ease
						&:hover
							color: $accent

.information-holder
	border-top: 1px solid #bcb5a7
	padding: 25px 0
	color: #242424
	.information-holder__small-item
		background-color: #dfdbd4
		background-clip: content-box
		.information-holder__small-item--wrapper
			padding: 30px 15px
			h6
				font-family: "AllerBold", sans-serif
				@include pxToRem(14)
				text-transform: uppercase
				margin-bottom: 10px
			p
				@include pxToRem(12)
				&:nth-child(2)
					margin-bottom: 8px
	.information-holder__big-item
		background-color: #dfdbd4
		background-clip: content-box
		.information-holder__big-item--wrapper
			padding: 30px 15px
			h6
				font-family: "AllerBold", sans-serif
				@include pxToRem(14)
				text-transform: uppercase
				margin-bottom: 15px
			.blog-news-wrapper
				&:nth-child(2)
					display: none
				.blog-news__item
					@include prefix(display,flex)
					&:nth-child(1)
						margin-bottom: 10px
					.blog-news__date-label
						@extend .price-label
						text-align: center
						font-family: "AllerBold", sans-serif
						width: 35px
						height: 35px
						@include pxToRem(10)
						line-height: 14px
						margin-right: 10px
					.blog-news__information
						h6
							@include pxToRem(13)
							text-transform: none
							letter-spacing: 1px
							margin-bottom: 0px
						p
							@include pxToRem(12)

.widgets-section
	width: 100%
	padding: 50px 0 30px 0
	background-color: #242424
	border-bottom: 1px solid #000
	.widgets-social-container
		max-width: 860px
		margin: 0 auto
		.widgets__item
			overflow: hidden
			h6
				color: #7d7d7d
				letter-spacing: 1px
				@include pxToRem(14)
				text-transform: uppercase
				margin-bottom: 20px
			p
				color: #a4a4a4
				font-family: 'AllerItalic', sans-serif
				@include pxToRem(12)
				text-align: justify
			&:nth-child(2)
				h6
					margin-bottom: 10px
		.img-widget
			.img-widget__item
				img
					width: 100%
					height: 100%

.social-section
	background-color: #fff
	padding: 35px 0
	background-color: #242424
	width: 100%
	.widgets-social-container
		max-width: 860px
		margin: 0 auto
		.email-news-holder
			@include prefix(display,flex)
			align-items: center
			input
				&::placeholder
				@include pxToRem(12)
				font-family: 'AllerItalic', sans-serif
				width: 210px
				height: 35px
				background-color: #2e2e2e
				color: #7d7d7d
				padding-left: 15px
				border-radius: 0
				&:required 
					border: none			
			.submit-button
				background-color: #7d7d7d
				color: #383838
				margin: 0
				padding: 0
				border: none
				height: 35px
				width: 35px
				margin-left: -5px
				padding-bottom: 3px
				outline: none
		.social-icons-holder
			@include prefix(display,flex)
			justify-content: flex-end
			ul
				list-style-type: none
			li 
				@include prefix(display, inline-flex)
				justify-content: center
				align-items: center
				width: 35px
				height: 35px
				background-color: #2e2e2e
				margin-right: 3px
				a 	
					text-decoration: none
					color: #7d7d7d
					@include pxToRem(17)
					transition: color 0.1s ease
					&:hover
						color: $accent

footer
	width: 100%
	background-color: #2e2e2e
	.footer-wrapper
		padding: 30px 0
		color: #666666
		.copyright-holder
			@include pxToRem(12)
		.footer-menu-holder
			@include prefix(display, flex)
			justify-content: flex-end
			align-items: center
			ul
				list-style-type: none
			li
				@include prefix(display, inline-flex)
				justify-content: center
				align-items: center
				a 
					text-decoration: none
					color: #666666
					@include pxToRem(12)
					transition: color 0.2s ease
					&:hover
						color: $accent



//Products Page
.main-slider--products__item
	@extend .main-slider__item
	max-height: 260px
	.main-slider-content--products
		@extend .main-slider-content
		max-width: 500px
		max-height: 260px
		color: #242424
		justify-content: center
		p
			@include pxToRem(19)
			line-height: 27px
			font-family: 'AllerLight', sans-serif
		.item-information	
			@include prefix(display, flex)
			align-items: center
			.price-label
				p
					font-family: 'AllerRegular', sans-serif
					@include pxToRem(12)
					letter-spacing: 1px
			h3
				margin: 0 0 0 25px

.shop-by-section
	background-color: #2e2e2e
	padding: 15px 0
	width: 100%
.shop-by__item--text
	@include prefix(display, flex)
	justify-content: center
	align-items: center
	@include pxToRem(22)
	color: #fff !important
	font-family: 'AllerLight', sans-serif
.shop-by__item
	text-align: center
	select,
	.selectize-control .selectize-input,
	.selectize-control.single .selectize-input.input-active
		@include prefix(display, flex)
		align-items: center
		justify-content: center
		max-width: 220px
		height: 60px
		border: none
		outline: none
		@include pxToRem(18)
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		background: url(../img/chevron-down.png) 90% / 8% no-repeat #242424
		color: #fff !important
		font-family: 'AllerLight', sans-serif
	.selectize-input.items.not-full.has-options input
		color: #fff !important
		@include pxToRem(18)
	.selectize-dropdown.single
		background-color: #242424
		color: #fff
		border : none
		outline: none
.selectize-input.items.not-full.has-options:after,
.selectize-input.items.has-options.full.has-items:after
	display: none

.selectize-dropdown-content
	margin-bottom: 10px
	.option
		width: 100%
		@include pxToRem(16)
		margin: 3px 0
	.option:hover
		background-color: $accent
	.option.active
		background-color: $accent

.product-preview-header--products-page__title
	@extend .product-preview-header__title
	h5
		display: inline-block
		margin-right: 20px
	p
		display: inline-block
		font-family: 'AllerBold', sans-serif
		@include pxToRem(12)
		color: #bcb5a7
		span
			margin: 0 5px
.product-preview-header--products-page__sort
	display: inline-block
	border: 1px solid #bcb5a7
	transition: background-color 0.2s ease
	a
		width: 100%
		font-family: "AllerBold", sans-serif
		@include pxToRem(14) 
		color: #bcb5a7
		text-decoration: none
		padding: 0.4rem 1.4rem
		span
			margin-right: 10px
	&:hover
		background-color: lighten(#ebe7df, 5%)
	&:active
		background-color: darken(#ebe7df, 5%)
.product-preview-header--products-page__filters--buttons
	.active--product-prewiev
		border: 1px solid #898170
		background-color: lighten(#ebe7df, 5%)
	display: inline-block
	p
		display: inline-block
		color: #bcb5a7
		font-family: "AllerBold", sans-serif
		@include pxToRem(14) 
		margin-right: 10px
	ul
		display: inline-block
		list-style-type: none
		margin-right: 20px
	li 
		width: 30px
		height: 30px
		border: 1px solid #bcb5a7
		@include prefix(display, inline-flex)
		justify-content: center
		align-items: center
		transition: background-color 0.2s ease
		&:nth-child(1)
			margin-right: 5px
		a	
			font-family: "AllerBold", sans-serif
			@include pxToRem(14) 
			color: #bcb5a7
			text-decoration: none
		&:hover
			background-color: lighten(#ebe7df, 5%)
		&:active
			background-color: darken(#ebe7df, 5%)

.product-preview-imgs__item--content
	@include prefix(display,flex)
	flex-direction: column
	justify-content: center
	padding-left: 50px
	display: none
	p
		font-family: 'AllerRegular', sans-serif
		@include pxToRem(14)
		letter-spacing: 1px
	h3
		@include pxToRem(26)
		margin-bottom: 20px


@import "media" // Always at the end
